.algolia-autocomplete {
  width: 100%;
  
  .aa-input, .aa-hint {
    width: 100%;
  }
  
  .aa-input {
  
  }
  
  .aa-hint{
    color: #999;
  }

  .scale-down {
    object-fit: scale-down;
  }

  .aa-dropdown-menu {
    width: 100%;
    background-color: #fff;
    border: 1px solid #999;
    border-top: none;

    .aa-suggestion {
      cursor: pointer;
      padding: 5px 4px;

      em {
        font-weight: bold;
        font-style: normal;
      }

      .product {
        width: 100%;
        
        .product-image {
          width: 17%;
          display: inline-block;
          

          img {
            max-height: 6rem;
            max-width: 6rem;
            margin: 0 auto;
            display: block;
          }
        }
        .product-details {
          width: 81%;
          display: inline-block;
        }
      }
    }

    .aa-suggestion.aa-cursor {
      background-color: #B2D7FF;
    }
  }
}
